html {
  /*    this is used to set the font size for the root element which allows us to declare the rest of 
      our measurements in REMs    */
  font-size: 62.5%;
}

body {
  font-family: "Lato", sans-serif;
  /*    font-size: 16px;*/
  font-weight: 400;
  line-height: 1.7;
  color: #777;
  
  text-rendering: optimizeLegibility;
}

section {
  padding: 80px 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

.header {
  height: 95vh;
  background-image: linear-gradient(
      to right bottom,
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.6)
    ),
    url(images/header-img.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  position: relative;
  margin-top: 0;
}

#navbar {
  font-size: 2rem;
}

#nav-bar-brand {
  letter-spacing: 0.5rem;
  text-decoration: none;
}

#navbar h2::after {
  margin-top: 5px;
  width: 150px;
  margin-left: 0;
}

.header__text-box {
  position: absolute;
  top: 40%;
  left: 50%;
  /* (x, y) */
  transform: translate(-50%, -50%);
  text-align: center;
}
.heading-primary {
  color: #fff;
  text-transform: uppercase;
  /*    TO PREVENT THE SHAKINESS WHICH IS SOMETIMES CAUSED BY ANIMATIONS  */
  backface-visibility: hidden;
  margin-bottom: 1rem;
  width: 100%;
}
.heading-primary--main {
  display: block;
  font-size: 4.3rem;
  font-weight: 400;
  letter-spacing: 1rem;
  border: 2.5px solid  #007bff;
  padding: 15px 25px;
  /*    THESE TWO PROPERTIES ARE DEFINED TO USE ANIMATIONS    */
  animation-name: moveInLeft;
  animation-duration: 3s;
  animation-timing-function: ease-out;
  margin-bottom: 1rem;
}
.heading-primary--sub {
  display: block;
  font-size: 2rem;
  font-weight: 400;
  letter-spacing: 1rem;
  animation: moveInRight 3s ease-out;
  /*    animation-delay: 3s;*/
  /*    animation-iteration-count: 3;*/
  margin-bottom: 4rem;
}

.btn:link,
.btn:visited {
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  padding: 1rem 4rem;
  border-radius: 1rem;
  transition: all 0.2s;
  position: relative;
  font-size: 1.6rem;
  letter-spacing: 1.5px;
  color: #777;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
}
.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
}

.btn--white {
  background-color: rgba(255, 255, 255, 0.904);
  color: #777;
}
.btn--white::after {
  background-color: rgba(255, 255, 255, 0.904);
}

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 1rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.5s;
}

.btn--animated {
  animation: moveInBottom 2.5s ease-out 0.75s;
  animation-fill-mode: backwards;
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  /*
      60% {
          
          transform: translateX(-100px) rotate(180deg);
      }
  */
  80% {
    transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }
  80% {
    transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }
  100% {
    transform: translate(0);
    opacity: 1;
  }
}

.about-me {
}

.about-me p {
  font-size: 1.9rem;
  padding-top: 10rem;
  padding-bottom: 2rem;
  letter-spacing: 145%;
  line-height: 4rem;
  word-spacing: 0.3rem;
}

.about-me img {
  width: 35%;
  margin-right: 5rem;
}

h2 {
  margin-bottom: 10rem;
  text-transform: uppercase;
}
h2:after {
  /*  MUST SPECIFY CONTENT WHEN USING AFTER PSUEDOCLASS   */
  content: " ";
  display: block;
  background-color: #007bff;
  height: 2px;
  width: 200px;
  margin: 0 auto;
  margin-top: 30px;
}

.about-me .btn {
  color: #007bff;
  padding: 1rem 5rem;
}

.about-me .btn:hover {
  color: #fff;
}

.technologies {
  /* height: 95vh;
  background-image: linear-gradient(
    to right bottom,
    rgba(0, 0, 0, 0.8),
    rgba(0, 0, 0, 0.8)
  ),
  url(images/technology-1283624_1920.jpg);
background-attachment: fixed;
background-size: cover;
background-position: center;
clip-path: polygon(0 0, 100% 15%, 100% 100%, 0 100%); */
  margin: 0 8rem;
}

#tech-heading {
  margin-top: 10rem;
  margin-bottom: 0;
}

.technologies {
  padding: 5rem 0;
}

.technologies h3 {
  font-size: 3rem;
}

.technologies h5 {
  font-size: 2rem;
}

.technologies .card {
  border-radius: 1rem;
}

#backend-card {
  margin-top: 7rem;
}

#frontend-card {
  margin-top: 4rem;
}

.code-img-section {
  height: 50vh;
  width: 100%;
  background-image: linear-gradient(
      to right bottom,
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.7)
    ),
    url(images/backgroundimg.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  clip-path: polygon(0 15%, 100% 0, 100% 75%, 0 100%);
  margin: 5rem 0;
}
.projects-section {

  padding-top: 0;
  padding: 0 2rem;
  display: flex;
  flex-wrap: wrap;
}
.projects-section .card{

  width: 25%;
  float: left;
  margin: 0 4%;
  margin-bottom: 10%;
  box-shadow: 3px 3px 20px rgb(117, 117, 117);
}
.last-card{
  margin-right: 0;
}
.projects-section .card-title{

  font-size: 3.7rem;
  font-weight: 300;
  text-align: center;
}

.projects-section .card-text{

  font-size: 1.7rem;
  font-weight: 400;
  text-align: center;
}

.projects-section li{

  font-size: 1.7rem;
}

.projects-section a{

  font-size: 1.7rem;
}

.contact-section {
  padding: 0 2rem;
  width: 100%;
  font-size: 2rem;
  margin-bottom: 15rem;
}
.contact-div h2 {
  margin-bottom: 10rem;
  padding: 0;
}
.contact-section input {
  font-size: 2rem;
}

.contact-section .form-group{
  margin-bottom: 3rem;
}

.contact-section textarea{
  font-size: 2rem;
}

.contact-section button {
  padding: 1rem 2.5rem;
  text-align: center;
  font-size: 1.5rem;
}
footer {

}

footer {
    
  width: 100%;
  height: 125px;
  background-color: rgb(44, 44, 44);
  color: rgb(212, 212, 212);
  
}

footer h3 {
text-align: center;
font-size: 1.5rem;
padding-top: 5.5%;
}
